{"openapi":"3.1.0","info":{"title":"WalletKit","version":"1.0"},"servers":[{"url":"https://testnet.usewalletkit.com"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/wallets":{"post":{"summary":"Create Wallet","description":"","operationId":"create-wallet","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network"],"properties":{"network":{"type":"string","default":"Polygon"},"name":{"type":"string","description":"wallet name","default":"My Wallet"},"owner_id":{"type":"string","description":"optional id to associated the wallet with. e.g. user uuid in your application. When provided, the same owner_id  will have the Ethereum address across EVM compatible networks.","default":"null"},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"id\": \"5884bd1d-ecb3-41ea-bcc7-e9e3d229618f\",\n   \"created_at\": \"2023-07-21T22:03:16Z\",\n   \"network\": \"Polygon\",\n   \"name\": \"Joe's wallet\",\n   \"owner_id\": \"58c9095e-24db-43eb-b49d-b78f72573a29\",\n   \"address\": \"0x976Cf57B7EE1D84E73BE9115457889d49a8A1335\"\n}"}},"schema":{"type":"object","properties":{"id":{"type":"string","example":"5884bd1d-ecb3-41ea-bcc7-e9e3d229618f"},"created_at":{"type":"string","example":"2023-07-21T22:03:16Z"},"network":{"type":"string","example":"Polygon"},"name":{"type":"string","example":"Joe's wallet"},"owner_id":{"type":"string","example":"58c9095e-24db-43eb-b49d-b78f72573a29"},"address":{"type":"string","example":"0x976Cf57B7EE1D84E73BE9115457889d49a8A1335"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"List Wallets","description":"","operationId":"list-wallets","parameters":[{"name":"network","in":"query","schema":{"type":"string","default":"Polygon"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"page_size","in":"query","schema":{"type":"string","default":"10"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"id\": \"6381aba7-132b-49c2-b3b1-5bd2c1a5b8e9\",\n    \"created_at\": \"2023-07-05T00:30:44Z\",\n    \"network\": \"Ethereum\",\n    \"name\": \"Project Wallet\",\n    \"owner_id\": \"7b345153-c2db-4e33-b01c-02712b55d159\",\n    \"address\": \"0xbfD206D1Fe1Cc447B9307777E7e5ec54DE2aE05b\"\n  },\n  {\n    \"id\": \"d51d2ddd-0415-45c9-abe7-8ded7fa5538d\",\n    \"created_at\": \"2023-07-05T00:30:44Z\",\n    \"network\": \"Polygon\",\n    \"name\": \"Project Wallet\",\n    \"owner_id\": \"7b345153-c2db-4e33-b01c-02712b55d159\",\n    \"address\": \"0xbfD206D1Fe1Cc447B9307777E7e5ec54DE2aE05b\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"6381aba7-132b-49c2-b3b1-5bd2c1a5b8e9"},"created_at":{"type":"string","example":"2023-07-05T00:30:44Z"},"network":{"type":"string","example":"Ethereum"},"name":{"type":"string","example":"Project Wallet"},"owner_id":{"type":"string","example":"7b345153-c2db-4e33-b01c-02712b55d159"},"address":{"type":"string","example":"0xbfD206D1Fe1Cc447B9307777E7e5ec54DE2aE05b"}}}}}}}},"deprecated":false}},"/ntfs/collections":{"post":{"summary":"Create NFT Collection","description":"","operationId":"create-nft-collection","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","name","symbol","image_url"],"properties":{"network":{"type":"string","default":"Polygon"},"name":{"type":"string","description":"collection name","default":"My Collection"},"symbol":{"type":"string","description":"Collection symbol used for identification purposes","default":"MYC"},"image_url":{"type":"string","description":"URL to the collection logo image","default":"https://"},"base_uri":{"type":"string","description":"Base URI for computing tokenURI. If set, the resulting URI for each token will be the concatenation of the baseURI and the tokenId. Empty by default, can be overridden in child contracts."},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction_id\": \"ae51ce74-bae0-4e47-8dac-815391144608\",\n  \"network\": \"Polygon\",\n  \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"ae51ce74-bae0-4e47-8dac-815391144608"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/mint":{"post":{"summary":"Mint NFT","description":"","operationId":"mint-nft","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","contract_address","recipient"],"properties":{"network":{"type":"string","default":"Polygon"},"contract_address":{"type":"string","description":"address of the NFT collection smart contract to mint from.","default":"0x"},"recipient":{"type":"string","default":"0x"},"metadata":{"type":"object","description":"Metadata JSON object.","required":["name","description","image"],"properties":{"name":{"type":"string","description":"Identifies the asset to which this NFT represents","default":"My NFT #1"},"description":{"type":"string","description":"Describes the asset to which this NFT represents","default":"my first NFT"},"image":{"type":"string","description":"A URI pointing to a resource with mime type image/* representing the asset to which this NFT represents. Consider making any images at a width between 320 and 1080 pixels and aspect ratio between 1.91:1 and 4:5 inclusive.","default":"https://"}}},"uri":{"type":"string","description":"uri the the nft metadata.json, schema define in https://eips.ethereum.org/EIPS/eip-721#specification. Use the metadata field instead if the metadata.json doesn't exist and needs to be created and hosted."},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction_id\": \"ae51ce74-bae0-4e47-8dac-815391144608\",\n  \"network\": \"Polygon\",\n  \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"ae51ce74-bae0-4e47-8dac-815391144608"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/transfer":{"post":{"summary":"Transfer NFT","description":"","operationId":"transfer-nft","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","from","contract_address","recipient"],"properties":{"network":{"type":"string","default":"Polygon"},"from":{"type":"string","description":"from address of the transfer","default":"0x"},"contract_address":{"type":"string","description":"collection contract address","default":"0x"},"recipient":{"type":"string","description":"recipient of the NFT transfer","default":"0x"},"token_id":{"type":"string","default":"0"},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction_id\": \"ae51ce74-bae0-4e47-8dac-815391144608\",\n  \"network\": \"Polygon\",\n  \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"ae51ce74-bae0-4e47-8dac-815391144608"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts":{"get":{"summary":"List NFTs","description":"","operationId":"list-nfts","parameters":[{"name":"network","in":"query","required":true,"schema":{"type":"string","default":"Polygon"}},{"name":"wallet_address","in":"query","schema":{"type":"string","default":"0x"}},{"name":"contract_address","in":"query","description":"query by collection address. one of the two query params should be provided.","schema":{"type":"string","default":"0x"}},{"name":"page","in":"query","description":"page number, starting from 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"page_size","in":"query","description":"size of each page","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"metadata\": {\n      \"name\": \"InfuraNFT - So Hot!\",\n      \"description\": \"Infura NFT Demo\",\n      \"image\": \"https://cdn.simplehash.com/assets/b5e690b2ad97b00540df9ca52e2a14c681352e551787a4eef69ae58afeeec21e.jpg\"\n    },\n    \"owner_wallet_address\": \"0x712D80562ADc452fBb8103C04112C81039a180bE\",\n    \"contract_address\": \"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973\",\n    \"token_id\": \"0\"\n  },\n  {\n    \"metadata\": {\n      \"name\": \"To the moon\",\n      \"description\": \"walletkit is a platform launch your web3 app to the moon\",\n      \"image\": \"https://cdn.simplehash.com/assets/2c11716f2ed9bed4aeacb6f289214aeaf9e4e237cbecbe7887e6c788f290e063.jpg\"\n    },\n    \"owner_wallet_address\": \"0xca825E9B773f65630662b80df81BD6d7eeDd30B9\",\n    \"contract_address\": \"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973\",\n    \"token_id\": \"1\"\n  },\n  {\n    \"metadata\": {\n      \"name\": \"To the moon\",\n      \"description\": \"walletkit is a platform launch your web3 app to the moon\",\n      \"image\": \"https://cdn.simplehash.com/assets/2c11716f2ed9bed4aeacb6f289214aeaf9e4e237cbecbe7887e6c788f290e063.jpg\"\n    },\n    \"owner_wallet_address\": \"0xca825E9B773f65630662b80df81BD6d7eeDd30B9\",\n    \"contract_address\": \"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973\",\n    \"token_id\": \"2\"\n  },\n  {\n    \"metadata\": {\n      \"name\": \"To the moon\",\n      \"description\": \"walletkit is a platform launch your web3 app to the moon\",\n      \"image\": \"https://cdn.simplehash.com/assets/2c11716f2ed9bed4aeacb6f289214aeaf9e4e237cbecbe7887e6c788f290e063.jpg\"\n    },\n    \"owner_wallet_address\": \"0xca825E9B773f65630662b80df81BD6d7eeDd30B9\",\n    \"contract_address\": \"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973\",\n    \"token_id\": \"3\"\n  },\n  {\n    \"metadata\": {\n      \"name\": \"To the moon\",\n      \"description\": \"walletkit is a platform launch your web3 app to the moon\",\n      \"image\": \"https://cdn.simplehash.com/assets/2c11716f2ed9bed4aeacb6f289214aeaf9e4e237cbecbe7887e6c788f290e063.jpg\"\n    },\n    \"owner_wallet_address\": \"0xedDf4d2a46f059e0E0b4b60F2531676bf275BBA7\",\n    \"contract_address\": \"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973\",\n    \"token_id\": \"4\"\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"metadata":{"type":"object","properties":{"name":{"type":"string","example":"InfuraNFT - So Hot!"},"description":{"type":"string","example":"Infura NFT Demo"},"image":{"type":"string","example":"https://cdn.simplehash.com/assets/b5e690b2ad97b00540df9ca52e2a14c681352e551787a4eef69ae58afeeec21e.jpg"}}},"owner_wallet_address":{"type":"string","example":"0x712D80562ADc452fBb8103C04112C81039a180bE"},"contract_address":{"type":"string","example":"0x19fB4409D250B5Ac158354d4ABbdcB596bCB7973"},"token_id":{"type":"string","example":"0"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/collection-by-address":{"get":{"summary":"Get NFT Collection","description":"","operationId":"get-nft-collection","parameters":[{"name":"network","in":"query","schema":{"type":"string","default":"Polygon"}},{"name":"collection_address","in":"query","description":"address of the NFT contract","schema":{"type":"string","default":"0x"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"network\": \"Polygon\",\n   \"contract_address\": \"0xf1024df6e8d47cb8e5b8aae34cf033aeb961ff83\",\n   \"name\": \"My Collection\",\n   \"symbol\": \"MyNFT\"\n}"}},"schema":{"type":"object","properties":{"network":{"type":"string","example":"Polygon"},"contract_address":{"type":"string","example":"0xf1024df6e8d47cb8e5b8aae34cf033aeb961ff83"},"name":{"type":"string","example":"My Collection"},"symbol":{"type":"string","example":"MyNFT"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/collections":{"get":{"summary":"List NFT Collections","description":"","operationId":"list-nft-collections","parameters":[{"name":"network","in":"query","required":true,"schema":{"type":"string","default":"Polygon"}},{"name":"wallet_address","in":"query","required":true,"schema":{"type":"string","default":"0xca825E9B773f65630662b80df81BD6d7eeDd30B9"}},{"name":"page","in":"query","description":"page number starting from 1","schema":{"type":"integer","format":"int32","default":1}},{"name":"page_size","in":"query","description":"size of each page","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n   {\n      \"network\": \"Polygon\",\n      \"contract_address\": \"0x19fb4409d250b5ac158354d4abbdcb596bcb7973\",\n      \"name\": \"WalletKitCollection\",\n      \"image_url\": \"https://lh3.googleusercontent.com/aSZOtvy4yKI0NpCBCtAN7MLZ7NVY1nk2C67RuhBURUvOo-tnlMNHAjcT6XelkbK7gB3nxZeqpAvtaUwNbSoa4Vvl3F23uBz8nb4\"\n   },\n   {\n      \"network\": \"Polygon\",\n      \"contract_address\": \"0xebd7f3db87f8bd144b2c76c6b958a7fa39928b8b\",\n      \"name\": \"My Collection\"\n   }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string","example":"Polygon"},"contract_address":{"type":"string","example":"0x19fb4409d250b5ac158354d4abbdcb596bcb7973"},"name":{"type":"string","example":"WalletKitCollection"},"image_url":{"type":"string","example":"https://lh3.googleusercontent.com/aSZOtvy4yKI0NpCBCtAN7MLZ7NVY1nk2C67RuhBURUvOo-tnlMNHAjcT6XelkbK7gB3nxZeqpAvtaUwNbSoa4Vvl3F23uBz8nb4"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/{nft_id}":{"get":{"summary":"Get NFT","description":"","operationId":"mint-nft-copy","parameters":[{"name":"nft_id","in":"path","description":"id returned in create nft call. If it's not created via WalletKit, the id can be constructed in following format: EVM chains, `chain/collection_address/token_id`, for Sonala, `solana/nft_address`","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"nft_id\": \"string\",\n  \"chain\": \"string\",\n  \"collection_address\": \"string\",\n  \"token_id\": \"string\",\n  \"nft_address\": \"string\",\n  \"name\": \"string\",\n  \"description\": \"string\",\n  \"image_url\": \"string\",\n  \"animation_url\": \"string\",\n  \"attributes\": [{\n  \t\"display_type\": \"string\",\n    \"trait_type\": \"string\",\n    \"value\": \"string\"\n  }]\n}"}},"schema":{"type":"object","properties":{"nft_id":{"type":"string","example":"string"},"chain":{"type":"string","example":"string"},"collection_address":{"type":"string","example":"string"},"token_id":{"type":"string","example":"string"},"nft_address":{"type":"string","example":"string"},"name":{"type":"string","example":"string"},"description":{"type":"string","example":"string"},"image_url":{"type":"string","example":"string"},"animation_url":{"type":"string","example":"string"},"attributes":{"type":"array","items":{"type":"object","properties":{"display_type":{"type":"string","example":"string"},"trait_type":{"type":"string","example":"string"},"value":{"type":"string","example":"string"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens":{"post":{"summary":"Create Token","description":"","operationId":"create-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","name","symbol","decimals"],"properties":{"network":{"type":"string","default":"Polygon"},"name":{"type":"string","default":"My Token"},"symbol":{"type":"string","default":"MYT"},"decimals":{"type":"string","description":"Specify how many decimals places a token has. E.g. To be able to transfer 1.5 XYZ token, decimals must be at least 1 since that number has a single decimal places.","default":"6"},"display_decimals":{"type":"string","description":"Decimals to display on WalletKit dashboard.","default":"2"},"logo_url":{"type":"string","description":"url of the token logo.","default":"https://"},"initial_supply":{"type":"string","description":"The amount of tokens to be minted to the token creator.","default":"1000000"},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"transaction_id\": \"ae51ce74-bae0-4e47-8dac-815391144608\",\n  \"network\": \"Polygon\",\n  \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"ae51ce74-bae0-4e47-8dac-815391144608"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"get":{"summary":"Get Token","description":"","operationId":"get-token","parameters":[{"name":"network","in":"query","schema":{"type":"string","default":"Polygon"}},{"name":"token","in":"query","schema":{"type":"string","default":"MATIC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"uuid\": \"32152631-1678-427f-b8d2-dbf85db2e64b\",\n   \"network\": \"Polygon\",\n   \"contract_address\": \"0xfe4f5145f6e09952a5ba9e956ed0c25e3fa4c7f1\",\n   \"name\": \"Dummy ERC20\",\n   \"symbol\": \"DERC20\",\n   \"decimals\": 18,\n   \"display_decimals\": 6,\n   \"logo_url\": \"https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=025\"\n}"}},"schema":{"type":"object","properties":{"uuid":{"type":"string","example":"32152631-1678-427f-b8d2-dbf85db2e64b"},"network":{"type":"string","example":"Polygon"},"contract_address":{"type":"string","example":"0xfe4f5145f6e09952a5ba9e956ed0c25e3fa4c7f1"},"name":{"type":"string","example":"Dummy ERC20"},"symbol":{"type":"string","example":"DERC20"},"decimals":{"type":"integer","example":18,"default":0},"display_decimals":{"type":"integer","example":6,"default":0},"logo_url":{"type":"string","example":"https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=025"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens/transfer":{"post":{"summary":"Transfer Token","description":"","operationId":"transfer-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network"],"properties":{"network":{"type":"string","default":"Polygon"},"from":{"type":"string","description":"from address of the transfer","default":"0x"},"token":{"type":"string","description":"token contract address or symbol in case of the gas token to be transferred.","default":"MATIC"},"recipient":{"type":"string","description":"recipient of the transfer","default":"0x"},"amount":{"type":"string","description":"amount to be transferred.","default":"1"},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"transaction_id\": \"0ba08553-05a8-4931-8101-551b6dfbdb2e\",\n   \"network\": \"Polygon\",\n   \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"0ba08553-05a8-4931-8101-551b6dfbdb2e"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens/mint":{"post":{"summary":"Mint token","description":"","operationId":"mint-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"network":{"type":"string","default":"Polygon"},"contract_address":{"type":"string","default":"0x"},"recipient":{"type":"string","default":"0x"},"amount":{"type":"string","default":"1000"},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"transaction_id\": \"43562b89-645d-4836-b4c8-f063fbf37096\",\n   \"network\": \"Polygon\",\n   \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"43562b89-645d-4836-b4c8-f063fbf37096"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/gas/buy":{"post":{"summary":"Buy Gas","description":"","operationId":"buy-gas","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","amount"],"properties":{"network":{"type":"string","default":"Polygon"},"amount":{"type":"string","default":"0.01"},"destination_address":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"transaction_id\": \"79054cd1-c3ac-4da8-973d-f883e0fd392b\",\n   \"transaction_hash\": \"0x2a1c7ff3885283a67ae55c9cbc6310cbb566cfbb1d5525aed287f42ccae23619\",\n   \"network\": \"Polygon\",\n   \"status\": \"pending\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"79054cd1-c3ac-4da8-973d-f883e0fd392b"},"transaction_hash":{"type":"string","example":"0x2a1c7ff3885283a67ae55c9cbc6310cbb566cfbb1d5525aed287f42ccae23619"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"pending"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/status-by-hash":{"get":{"summary":"Transaction Status By Hash","description":"","operationId":"get-transaction-status-by-hash","parameters":[{"name":"network","in":"query","schema":{"type":"string","default":"Polygon"}},{"name":"transaction_hash","in":"query","schema":{"type":"string","default":"0x"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Transaction Status":{"value":"{\n   \"transaction_hash\": \"0x4917ffe9cba6c63f511a34ba108718056878f409719d2e1facbc284f156a6108\",\n   \"network\": \"Polygon\",\n   \"status\": \"success\"\n}"},"transaction status with contract created":{"value":"{\n  \"transaction_hash\": \"0x8b2bc4ba77aed2fcdf02c3a6c7a912a763e822653a07378caf57ce2a62423829\",\n  \"network\": \"Polygon\",\n  \"status\": \"success\",\n  \"contract_address\": \"0x0e275CE1A31BeE8beE60E3D2479510143E424589\"\n}"}},"schema":{"oneOf":[{"title":"Transaction Status","type":"object","properties":{"transaction_hash":{"type":"string","example":"0x4917ffe9cba6c63f511a34ba108718056878f409719d2e1facbc284f156a6108"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"success"}}},{"title":"transaction status with contract created","type":"object","properties":{"transaction_hash":{"type":"string","example":"0x8b2bc4ba77aed2fcdf02c3a6c7a912a763e822653a07378caf57ce2a62423829"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"success"},"contract_address":{"type":"string","example":"0x0e275CE1A31BeE8beE60E3D2479510143E424589"}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/sign-and-send":{"post":{"summary":"Sign and Send","description":"","operationId":"sign-and-send","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network","signer_wallet_address","unsigned_transaction"],"properties":{"network":{"type":"string","default":"Polygon"},"signer_wallet_address":{"type":"string","default":"0x"},"unsigned_transaction":{"type":"object","description":"input of a transaction to be signed.","properties":{"to":{"type":"string","description":"smart contract address or external owned account address to interact with","default":"0x"},"value":{"type":"string","description":"optional. amount of native token to be transferred to the to address in this transaction.","default":"0x0"},"input":{"type":"string","description":"If it's a smart contract interaction, the calldata of the smart contract function. (ABI-encoded function with arguments)","default":"0x"}}},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"transaction_id\": \"5c7c0e7d-e6a9-4ec8-98a8-eaee4bd8d161\",\n   \"transaction_hash\": \"0xa7c124befe5c0b1e7aac72a091edc246ebbb58e077d4a63d15b4c64609064821\",\n   \"network\": \"Polygon\",\n   \"status\": \"pending\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"5c7c0e7d-e6a9-4ec8-98a8-eaee4bd8d161"},"transaction_hash":{"type":"string","example":"0xa7c124befe5c0b1e7aac72a091edc246ebbb58e077d4a63d15b4c64609064821"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"pending"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/transactions/status-by-id":{"get":{"summary":"Transaction Status by ID","description":"","operationId":"get-transaction-status-by-id","parameters":[{"name":"id","in":"query","description":"transaction id returned in POST requests that result in a transaction. e.g. Transfer Token","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"transaction status":{"value":"{\n   \"transaction_id\": \"6aed7da4-606f-45e4-b0a6-caf1ad464fbd\",\n   \"transaction_hash\": \"0x4917ffe9cba6c63f511a34ba108718056878f409719d2e1facbc284f156a6108\",\n   \"network\": \"Polygon\",\n   \"status\": \"success\"\n}"},"transaction status with contract created":{"value":"{\n  \"transaction_id\": \"8b2b8a23-6be6-4d86-ad35-dcd05d1b8a71\",\n  \"transaction_hash\": \"0x8b2bc4ba77aed2fcdf02c3a6c7a912a763e822653a07378caf57ce2a62423829\",\n  \"network\": \"Polygon\",\n  \"status\": \"success\",\n  \"contract_address\": \"0x0e275CE1A31BeE8beE60E3D2479510143E424589\"\n}"}},"schema":{"oneOf":[{"title":"transaction status","type":"object","properties":{"transaction_id":{"type":"string","example":"6aed7da4-606f-45e4-b0a6-caf1ad464fbd"},"transaction_hash":{"type":"string","example":"0x4917ffe9cba6c63f511a34ba108718056878f409719d2e1facbc284f156a6108"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"success"}}},{"title":"transaction status with contract created","type":"object","properties":{"transaction_id":{"type":"string","example":"8b2b8a23-6be6-4d86-ad35-dcd05d1b8a71"},"transaction_hash":{"type":"string","example":"0x8b2bc4ba77aed2fcdf02c3a6c7a912a763e822653a07378caf57ce2a62423829"},"network":{"type":"string","example":"Polygon"},"status":{"type":"string","example":"success"},"contract_address":{"type":"string","example":"0x0e275CE1A31BeE8beE60E3D2479510143E424589"}}}]}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens/balances":{"get":{"summary":"List Token Balances","description":"","operationId":"list-token-balances","parameters":[{"name":"network","in":"query","schema":{"type":"string","default":"Polygon"}},{"name":"wallet_address","in":"query","schema":{"type":"string","default":"0x"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n   {\n      \"uuid\": \"32152631-1678-427f-b8d2-dbf85db2e64b\",\n      \"network\": \"Polygon\",\n      \"contract_address\": \"0xfe4f5145f6e09952a5ba9e956ed0c25e3fa4c7f1\",\n      \"name\": \"Dummy ERC20\",\n      \"symbol\": \"DERC20\",\n      \"decimals\": 18,\n      \"display_decimals\": 6,\n      \"logo_url\": \"https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=025\",\n      \"Balance\": \"1000000000000000000\"\n   },\n   {\n      \"uuid\": \"8963f831-9f89-49d7-ac9e-393272893ba2\",\n      \"network\": \"Polygon\",\n      \"contract_address\": \"MATIC\",\n      \"name\": \"Polygon\",\n      \"symbol\": \"MATIC\",\n      \"decimals\": 18,\n      \"display_decimals\": 6,\n      \"logo_url\": \"https://cryptologos.cc/logos/polygon-matic-logo.svg?v=025\",\n      \"Balance\": \"141689774369821166\"\n   }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","example":"32152631-1678-427f-b8d2-dbf85db2e64b"},"network":{"type":"string","example":"Polygon"},"contract_address":{"type":"string","example":"0xfe4f5145f6e09952a5ba9e956ed0c25e3fa4c7f1"},"name":{"type":"string","example":"Dummy ERC20"},"symbol":{"type":"string","example":"DERC20"},"decimals":{"type":"integer","example":18,"default":0},"display_decimals":{"type":"integer","example":6,"default":0},"logo_url":{"type":"string","example":"https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=025"},"Balance":{"type":"string","example":"1000000000000000000"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/nfts/upload":{"post":{"summary":"Upload NFT image","description":"","operationId":"nft-image-upload","parameters":[{"name":"Content-Type","in":"header","description":"use multipart/form-data as the content-type","required":true,"schema":{"type":"string","default":"multipart/form-data"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"ipfs_url\": \"ipfs://bafybeicwkonofllodbjns3vdzqfp7lbjjcixeq2misjg3ocpltjw4roac4/to_the_moon.jpg\"\n}"}},"schema":{"type":"object","properties":{"ipfs_url":{"type":"string","example":"ipfs://bafybeicwkonofllodbjns3vdzqfp7lbjjcixeq2misjg3ocpltjw4roac4/to_the_moon.jpg"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/activity":{"get":{"summary":"List Wallet Activity","description":"","operationId":"list-wallet-activity","parameters":[{"name":"network","in":"query","schema":{"type":"string"}},{"name":"wallet_address","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"[\n  {\n    \"uuid\": \"1b9d23fa-5b2e-4f8e-a8fc-a967a508685e\",\n    \"network\": \"Polygon\",\n    \"type\": \"receive_token\",\n    \"timestamp\": \"2023-08-17T18:33:04.394Z\",\n    \"wallet_address\": \"0xe883cd7adfe55cd84798a8129468e106b32cdc7a\",\n    \"transaction_hash\": \"0x3df425585466b164a4031ea7e7c82f5cbc5717276c6508820f05d9a129cf08be\",\n    \"metadata\": {\n      \"amount\": \"0.19\"\n    },\n    \"Token\": {\n      \"uuid\": \"8963f831-9f89-49d7-ac9e-393272893ba2\",\n      \"network\": \"Polygon\",\n      \"contract_address\": \"MATIC\",\n      \"name\": \"Polygon\",\n      \"symbol\": \"MATIC\",\n      \"decimals\": 18,\n      \"display_decimals\": 6,\n      \"logo_url\": \"https://cryptologos.cc/logos/polygon-matic-logo.svg?v=025\",\n      \"project_id\": null\n    }\n  },\n  {\n    \"uuid\": \"e5be2ae3-3c2f-4ef8-90ca-ef1d55d3d942\",\n    \"network\": \"Polygon\",\n    \"type\": \"send_token\",\n    \"timestamp\": \"2023-08-17T18:32:32.223Z\",\n    \"wallet_address\": \"0xe883cd7adfe55cd84798a8129468e106b32cdc7a\",\n    \"transaction_hash\": \"0xb9466f77b2e4ffd8a5eed95076e0db0b1cf789570f5194268cac39504197b976\",\n    \"metadata\": {\n      \"amount\": \"0.25\"\n    },\n    \"Token\": {\n      \"uuid\": \"8963f831-9f89-49d7-ac9e-393272893ba2\",\n      \"network\": \"Polygon\",\n      \"contract_address\": \"MATIC\",\n      \"name\": \"Polygon\",\n      \"symbol\": \"MATIC\",\n      \"decimals\": 18,\n      \"display_decimals\": 6,\n      \"logo_url\": \"https://cryptologos.cc/logos/polygon-matic-logo.svg?v=025\",\n      \"project_id\": null\n    }\n  }\n]"}},"schema":{"type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","example":"1b9d23fa-5b2e-4f8e-a8fc-a967a508685e"},"network":{"type":"string","example":"Polygon"},"type":{"type":"string","example":"receive_token"},"timestamp":{"type":"string","example":"2023-08-17T18:33:04.394Z"},"wallet_address":{"type":"string","example":"0xe883cd7adfe55cd84798a8129468e106b32cdc7a"},"transaction_hash":{"type":"string","example":"0x3df425585466b164a4031ea7e7c82f5cbc5717276c6508820f05d9a129cf08be"},"metadata":{"type":"object","properties":{"amount":{"type":"string","example":"0.19"}}},"Token":{"type":"object","properties":{"uuid":{"type":"string","example":"8963f831-9f89-49d7-ac9e-393272893ba2"},"network":{"type":"string","example":"Polygon"},"contract_address":{"type":"string","example":"MATIC"},"name":{"type":"string","example":"Polygon"},"symbol":{"type":"string","example":"MATIC"},"decimals":{"type":"integer","example":18,"default":0},"display_decimals":{"type":"integer","example":6,"default":0},"logo_url":{"type":"string","example":"https://cryptologos.cc/logos/polygon-matic-logo.svg?v=025"},"project_id":{}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/tokens/batch-transfer":{"post":{"summary":"Batch Transfer Token","description":"","operationId":"batch-transfer-token","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["network"],"properties":{"network":{"type":"string","default":"Polkadot"},"from":{"type":"string","description":"from address of the transfer","default":"0x"},"token":{"type":"string","description":"token contract address or symbol in case of the gas token to be transferred.","default":"WND"},"transfers":{"type":"array","description":"transfers in this batch, max batch size is 50 transfers.","items":{"properties":{"recipient":{"type":"string","description":"recipient of the transfer"},"amount":{"type":"string","description":"amount to be transferred"}},"type":"object"}},"secret":{"type":"string","default":"testnet-secret"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n   \"transaction_id\": \"0ba08553-05a8-4931-8101-551b6dfbdb2e\",\n   \"network\": \"Polkadot\",\n   \"status\": \"submitted\"\n}"}},"schema":{"type":"object","properties":{"transaction_id":{"type":"string","example":"0ba08553-05a8-4931-8101-551b6dfbdb2e"},"network":{"type":"string","example":"Polkadot"},"status":{"type":"string","example":"submitted"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true,"samples-enabled":true},"x-readme-fauxas":true}